/*#(10000) programmer code begin;*/
#searchbutton { margin-top: 10px; margin-left: 5px; }
#insertbutton { margin-top: 10px; margin-right: 5px; }
#entrylayerarea { padding-top: 0px; }
#entrylayer { margin-top: 0px; }
/*#(10000) programmer code end;*/
