      * { box-sizing: border-box; }
      body { margin: 0; padding: 0; font: 13px Helvetica, Arial; font-size: 1rem; }
	  #docid { margin-right: 10px; margin-bottom: 5px; min-width: 100px; }
      #formlayer { background: rgb(222, 220, 220); padding: 5px; position: fixed; bottom: 0; width: 100%; }
      #questform input { width: 100%; border: 0; padding: 10px; margin-right: .5%; }
      #questform button { width: 100px; padding: 10px; } 
	  #inputlayer { display: flex; flex-direction: row; margin-top: 2px; }
      #uploadform input { width: 100%; border: 0; padding: 10px; margin-right: .5%; cursor: pointer; }
      #uploadform button { width: 100px; padding: 10px; } 
	  #uploadlayer { display: flex; flex-direction: row; }
	  #questlayer { margin-right: 25px; }
	  #questmessages { overflow: auto; margin-bottom: 110px; }
      #listmessages { margin: 0; list-style-type: none; }
      #listmessages li { padding: 5px; }
      .text-quest { background: ghostwhite; color: black !important; font-weight: bold; }
      .text-query { background: floralwhite; color: black !important; }
	  .text-answer { background: whitesmoke; color: black !important;}
	  .text-error { background-color: #f8d7da; color: black !important;}
	  .text-success { background-color: #c3e6cb; color: black !important; }
	  .topic { font-weight: bold; min-width: 80px; padding: 4px; }
	  .text { padding: 4px; padding-left: 6px; width: 100%; white-space: pre-line; }
	  .topic-quest { color: brown; }
	  .topic-answer { color: green; }
	  .fxc { display: flex; flex-direction: row; }
	  #headlayer { text-align: center; display: flex; flex-direction: row; margin-top: 5px; padding: 5px; font-size: 1.5rem; font-weight: bold; padding-bottom: 0px; }
	  #headtitle { width: 100%; margin-top: 5px; margin-bottom: 10px; }
	  input[type=text] { padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
	  #sendbutton { padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; color: white; background-color: #6c757d; border-radius: .25rem; }
	  #sendbutton:hover { background-color: #5a6268; }
	  button[disabled]:hover { pointer-events: none; }
	  input[disabled] { background-color: #eee; }
	  .table-data { border-collapse: collapse; }
	  .table-data th { background-color: #D3D3D3; }
	  .table-data th, td { padding: 7px; border: 1px solid #ddd; }	
	  .table-data > tbody tr:nth-child(odd) { background-color: #f1f0f0; }
	  .table-responsive { overflow: auto; }
	  #waitlayer { display: none; text-align: center; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); }
	  span.q { color: brown; }
	  span.a { color: green; }
	  hr { margin: 5px 0; margin-left: 15px; margin-right: 30px; }
	  .typed-container { display: inline-block; width: 100%; }
	  #uploadform { flex-grow: 1; margin-right: 5px; }
	  #uploadinputlayer { display: flex; flex-direction: row; }
	  #sendbutton { margin-left: auto; min-width: 100px; }
	  #examplequest { margin-top: 50px; }
	  .m { cursor: pointer; width: 30px; }
	  .m:hover { background-color: #ddd; }
	  .menu { float: right; }
	  .dropbtn { padding: 5px 10px; border: none; border-radius: 5px; }
	  .dropdown { position: relative; display: inline-block; font-size: 1rem; }
	  .dropdown-content { display: none; position: absolute; right: 0; top: 25px; background-color: #f1f1f1; min-width: 200px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; }
	  .dropdown-content a { color: black; padding: 12px 16px; text-decoration: none; display: block; text-align: left; }
	  .dropdown-content a:hover { background-color: #ddd; }
	  .dropdown:hover .dropdown-content { display: block; }
	  #headlayer { position: fixed; margin: 0; top: 0; left: 0; width: 100%; height: 50px; background-color: #f0f0f0; border-bottom: 1px solid #e0e0e0; z-index: 100;}
	  .separator-linker { border-top: 1px solid #e0e0e0; }
