
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-12">
<label id="docfile_label" class="control-label"><%=label.get('docfile_label','Document File')%></label>
<a href="#0" id="addsumdoc" class="btn btn-primary btn-md" title="Add File" tabindex="-1"><i class="fa fa-plus fa-btn-icon" aria-hidden="true"></i></a>
<div id="docfilelayer">
	<%- include('./sumdoc_kit_file_data') %>
</div>
					</div>
				</div>
			</div>
	</div>
</div>